body {
	margin-top: 150px;
}

.message-container {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 30px;
}

.login-container {
	margin: 0 auto;
	width: 450px;
	border: solid #efefef 1px;
	-moz-box-shadow: 0px 0px 15px #777;
	-webkit-box-shadow: 0px 0px 15px #777;
	box-shadow: 0px 0px 15px #777;
	-moz-border-radius: 3px;
    border-radius: 3px;
}

.login-header {
    background-color: #0088CC;	
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}